<div class="some-page-wrapper">
  <div class="row">
    <div class="column">
      <div class="sets">
        <li></li>
        <div class="kui-sets-separator"></div>
        <li></li>
        <div class="kui-sets-separator"></div>
        <li></li>
        <div class="kui-sets-separator"></div>
        <li></li>
      </div>
    </div>
    <div class="column">
      <div class="reps">
        <ul class="marklyft">
          <li class="firstTabNav">0</li>
          <div class="kui-sets-separator"></div>
          <li class="firstTabNav">0</li>
          <div class="kui-sets-separator"></div>
          <li class="firstTabNav">0</li>
          <div class="kui-sets-separator"></div>
          <li class="firstTabNav">0</li>
        </ul>
      </div>
    </div>
  </div>
</div>
