<div class="kui-flex-wrap">
  <div class="kui-frontpage-separator"></div>
  <div class="kui-frontpage-separator"></div>
  <ul class="kui-list kai-container" id="workOutList">
    <li class="child1Nav" @click="push()">
      Chest & Triceps
      <svg class="svg" width="40" height="60">
        <polyline
          points="10 10 30 30 10 50"
          stroke="#9d46ff"
          stroke-width="5"
          stroke-linecap="butt"
          fill="none"
          stroke-linejoin="round"
        >
          &lt;
        </polyline>
      </svg>
    </li>
    <div class="kui-frontpage-separator"></div>
    <li class="child1Nav" @click="push()">
      Back & biceps<svg class="svg" width="40" height="60">
        <polyline
          points="10 10 30 30 10 50"
          stroke="#9d46ff"
          stroke-width="5"
          stroke-linecap="butt"
          fill="none"
          stroke-linejoin="round"
        >
          &lt;
        </polyline>
      </svg>
    </li>
    <div class="kui-frontpage-separator"></div>
    <li class="child1Nav" @click="push()">
      Legs & abs
      <svg class="svg" width="40" height="60">
        <polyline
          points="10 10 30 30 10 50"
          stroke="#9d46ff"
          stroke-width="5"
          stroke-linecap="butt"
          fill="none"
          stroke-linejoin="round"
        >
          &lt;
        </polyline>
      </svg>
    </li>
    <div class="kui-frontpage-separator"></div>
    <li class="child1Nav" @click="push()">
      Shoulders
      <svg class="svg" width="40" height="60">
        <polyline
          points="10 10 30 30 10 50"
          stroke="#9d46ff"
          stroke-width="5"
          stroke-linecap="butt"
          fill="none"
          stroke-linejoin="round"
        >
          &lt;
        </polyline>
      </svg>
    </li>
  </ul>
</div>
